@page
@model PhoneApp.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.RecordDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.RecordDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Call.Caller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Call.Caller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Call.Receiver)
            </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Call.Receiver)
            </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.EventID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
